.details-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.col{
    max-width: 480px;
    margin: 15px;
}
.movie-image{
    border-radius: 10px;
}
.movie-details {
    font-size: 1.5rem;
}
.movie-details:first-child{
    margin-top: 0;
}