.container{
    display: flex;
    justify-content: center;
}
.box{
    position: relative;
}
.button{
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    height: 100%;
    background: none;
    border: none;
    color: rgb(35, 143, 211);
}
.button:hover{
    color: rgb(98, 199, 233);
}
.input{
    height: 20px;
    border-radius: 10px;
    padding: 5px 30px 5px 10px;
    background-color: #111;
    color: #bbb;
    border: none
}